<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <title>BOBAXIXI</title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
  <link rel="stylesheet" th:href="@{/css/store/form.css}"/>
</head>

<body class="secondary-boba">
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
  <div class="content border-boba bg-white p-5">
    <h2 class="text-center text-primary-boba">Add New Store</h2>
    <form method="POST" th:action="@{/store/update/}+${store.idStore}" th:object="${store}" class="mt-lg-5">
      <input type="hidden" th:field="*{idStore}">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="storeName">Store Name</label>
          <input type="text" class="form-control" id="storeName" name="name" placeholder="Store name ..." autocomplete="off" th:value="*{name}">
        </div>
        <div class="form-group col-md-6">
          <label for="manager">Manager</label>
          <select class="form-control" id="manager" name="manager">
            <option th:value="${idManager}" th:text="${namaManager}" selected></option>
            <option th:each="manager : ${listManager}" th:value="${manager.idManager}" th:text="${manager.fullName}"></option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input placeholder="store address ..." type="text" class="form-control" id="address" name="address" autocomplete="off" th:value="*{address}">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="openHour">Open Hour</label>
          <input type="time" class="form-control" id="openHour" name="openHour" th:value="*{openHour}">
        </div>
        <div class="form-group col-md-6">
          <label for="closeHour">Close Hour</label>
          <input type="time" class="form-control" id="closeHour" name="closeHour" th:value="*{closeHour}">
        </div>
      </div>
      <div class="d-flex justify-content-center mt-lg-5">
        <div class="mx-3">
          <a href="/store" class="btn btn-outline-secondary">Cancel</a>
        </div>
        <div class="mx-3">
          <input type="submit" class="btn dark-boba text-white" value="Update">
        </div>
      </div>
    </form>
  </div>
</div>
</body>
</html>