<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>BOBAXIXI</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/store/response.css}"/>
</head>

<body class="secondary-boba">
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container d-flex justify-content-center">
    <div class="content border-boba bg-white text-center p-5">
        <h2 class="text-primary-boba text-center font-weight-bold" th:text="${responseText}"></h2>
        <br><br><br>
        <a href="/store" class="text-decoration-none"><p class="text-primary-boba"><-- Back to store list</p></a>
    </div>
</div>
</body>
</html>