<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>BOBAXIXI</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/store/assign.css}"/>
</head>

<body class="secondary-boba">
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <div class="content border-boba bg-white p-5">
        <h2 class="text-center text-primary-boba" th:text="'Add '+${boba.name}+' to Store'"></h2>
        <form method="POST" th:action="@{/boba/} + ${boba.idBoba} + @{/assign-store}" th:object="${bobastore}" class="mt-lg-5">
            <table class="table table-striped text-center">
                <thead class="dark-boba">
                <tr>
                    <th scope="col" class="text-white"></th>
                    <th scope="col" class="text-white">Store Code</th>
                    <th scope="col" class="text-white">Name</th>
                    <th scope="col" class="text-white">Address</th>
                    <th scope="col" class="text-white">Operational Hour</th>
                </tr>
                </thead>
                <tbody>
                <input name="store" value="404" type="hidden">
                <input name="listChecked" th:value="${listChecked}" type="hidden">
                <tr th:each="store, iterationStatus : ${listStore}">
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="form-check-input" name="allListId" th:value="${store.idStore}" checked hidden>
                            <input type="checkbox" class="form-check-input" name="store" th:value="${store.idStore}" th:checked="${listChecked[iterationStatus.index]}">
                        </div>
                    </td>
                    <td th:text="${store.name}"></td>
                    <td th:text="${store.storeCode}"></td>
                    <td th:text="${store.address}"></td>
                    <td th:text="${store.openHour}+' - '+${store.closeHour}"></td>
                </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-end mt-lg-5">
                <div class="mx-3">
                    <a th:href="@{/boba}" class="btn btn-outline-secondary">Cancel</a>
                </div>
                <div class="mx-3">
                    <input type="submit" class="btn dark-boba text-white" value="Confirm"></input>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>